@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navbar-main-container {
    width: 100%;
    height: 75px;
    box-shadow: 0 10px 20px 0
    rgba(0,0,0,.1), 0 6px 6px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(97deg,#ff7a6e,#ff9770);
    display: flex;
    justify-content: center;
    align-items: center
}

.navbar-content-container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-style {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 1.4em;
    font-weight: bold;
}

.img-style {
    height: 30px;
    width: 30px;
    margin-left: 15px;
}